section.features#features
    .section-inner
        .container
            .section-heading
                h4.heading-title Our Features
                p.heading-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque laudantium iste vero quia. Perspiciatis. Lorem ipsum dolor sit amet.
            ul.features-list.row
                li.features-item.col-lg-4.col-md-6
                    .item-inner
                        .item-image
                            i.fas.fa-layer-group
                        .item-text
                            .text-title Free Internet
                            .text-sub Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, harum?
                li.features-item.col-lg-4.col-md-6
                    .item-inner
                        .item-image
                            i.far.fa-comments.text-brown
                        .item-text
                            .text-title Live Chat
                            .text-sub Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, harum?
                li.features-item.col-lg-4.col-md-6
                    .item-inner
                        .item-image
                            i.fas.fa-lock.text-blue
                        .item-text
                            .text-title Secure Data
                            .text-sub Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, harum?
                li.features-item.col-lg-4.col-md-6
                    .item-inner
                        .item-image
                            i.fas.fa-cog.text-orange
                        .item-text
                            .text-title Easy to customize
                            .text-sub Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, harum?
                li.features-item.col-lg-4.col-md-6
                    .item-inner
                        .item-image
                            i.fas.fa-window-restore.text-green
                        .item-text
                            .text-title Responsive Design
                            .text-sub Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, harum?
                li.features-item.col-lg-4.col-md-6
                    .item-inner
                        .item-image
                            i.fas.fa-file-word.text-purple
                        .item-text
                            .text-title Help Documentation
                            .text-sub Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, harum?