footer
  .footer-inner.container
    .row
      .col-lg-4.col-12.footer-logo
        a(href="./index.html").logo
            span Landing
            |   Page
        p Build responsive, mobile-first projects on the web with the world's most popular front-end component library.
      .col-lg-8.col-12
        .row
          .col-md-4.col-12
            h4 Landing
            ul
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Co-working
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Job & Careers
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Startups
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Hosting
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Charity
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Social Media
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Portfolio
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Digital Marketing
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Online Courses
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Travel
              
          .col-md-4.col-12
            h4 About
            ul
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span About us
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Features
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Pricing
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Team
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Blog & News
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Login
              li
                a(href="#")
                  i.fas.fa-chevron-right
                  span Sign Up
          .col-md-4.col-12
            h4 Office
            ul
              li
                a(href="#")
                  i.fas.fa-map-marker-alt.info-icon
                  span Londan, England
              li
                a(href="#")
                  i.fas.fa-envelope.info-icon
                  span test@yourdomain.com
              li
                a(href="#")
                  i.fas.fa-phone-square.info-icon
                  span +(125) 1254-5487
    .footer-bottom
      p.copyright &copy; 2020 Landing Page. Design with
        i.fas.fa-heart
        | by Hiep Nguyen