header
    .container
        .header-inner
            .header-top
                ul.contact-info
                    li.email
                        i.fas.fa-envelope
                        span example@info.com
                    li.phone-number
                        i.fas.fa-phone-square
                        span +1 (234) 567 89
                ul.social-media
                    li
                        a(href="#")
                            i.fab.fa-facebook-f
                    li
                        a(href="#")
                            i.fab.fa-twitter
                    li
                        a(href="#")
                            i.fab.fa-instagram
                    li
                        a(href="#")
                            i.fab.fa-pinterest-p
            include ./navigation