nav
    .nav-main.container
        .nav-toggle
            span.bar
        a(href="./index.html").nav-logo
            span Landing
            |   Page
        .nav-menu
            ul.menu-main
                li.menu-item
                    a(href="#").menu-link Home
                li.menu-item
                    a(href="#").menu-link About
                li.menu-item
                    a(href="#").menu-link Services
                li.menu-item
                    a(href="#").menu-link Work
                li.menu-item.has-submenu
                    a(href="#").menu-link Pages
                        i.arrow.fas.fa-chevron-down
                li.menu-item.has-submenu
                    a(href="#").menu-link Components   
                        i.arrow.fas.fa-chevron-down         
            .get-started
                button.btn.btn-primary Get Started
