nav
    .nav-main.container
        .nav-toggle
            .toggler
                span.bar
        a(href="./index.html").logo
            span Landing
            |   Page
        .nav-menu
            ul.menu-main
                li
                    a.scroll-spy(href="#hero").active Home
                li
                    a.scroll-spy(href="#features") Features
                li
                    a.scroll-spy(href="#portfolio") Portfolio
                li
                    a Cards
                li.has-sub
                    a Pages
                        i.arrow.fas.fa-chevron-down
                    .sub-menu
                        ul
                            li
                                a(href="#") Page 1
                            li.has-sub
                                a Page 2
                                    i.arrow.fas.fa-chevron-down
                                .sub-menu
                                    ul
                                        li
                                            a(href="#") Page 2.1
                                        li
                                            a(href="#") Page 2.2      
                                        li
                                            a(href="#") Page 2.3
                                        li
                                            a(href="#") Page 2.4
                            li.has-sub
                                a Page 3
                                    i.arrow.fas.fa-chevron-down
                                .sub-menu
                                        ul
                                            li
                                                a(href="#") Page 3.1
                                            li
                                                a(href="#") Page 3.2      
                                            li
                                                a(href="#") Page 3.3
                                            li
                                                a(href="#") Page 3.4
                            li
                                a(href="#") Page 4
                li.has-sub
                    a Components   
                        i.arrow.fas.fa-chevron-down
                    .sub-menu
                        ul
                            li
                                a(href="#") Component 1
                            li.has-sub
                                a Component 2
                                    i.arrow.fas.fa-chevron-down
                                .sub-menu
                                    ul
                                        li
                                            a(href="#") Component 2.1
                                        li
                                            a(href="#") Component 2.2      
                                        li
                                            a(href="#") Component 2.3
                                        li
                                            a(href="#") Component 2.4
                            li.has-sub
                                a Component 3
                                    i.arrow.fas.fa-chevron-down
                                .sub-menu
                                    ul
                                        li
                                            a(href="#") Component 3.1
                                        li
                                            a(href="#") Component 3.2      
                                        li
                                            a(href="#") Component 3.3
                                        li
                                            a(href="#") Component 3.4
                            li
                                a(href="#") Component 4       
            .get-started
                button.btn.btn-primary Support
    .nav-overlay