section.portfolio#portfolio
    .section-inner
        .container
            .section-heading
                .heading-title  Our Portfolio
                .heading-text    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus deserunt consequatur voluptatem earum? Laborum    
            .section-content
                ul.portfolio-filter
                    li.filter-item(data-filter="*").is-checked
                        a All
                    li.filter-item(data-filter=".branding")
                        a Branding
                    li.filter-item(data-filter=".designing")
                        a Designing
                    li.filter-item(data-filter=".photography")
                        a Photography
                    li.filter-item(data-filter=".developement")
                        a Developement
                .filter-content.row
                    .col-lg-3.col-md-6.element-item.branding
                        .content-item
                            a(href="../assets/images/portfolio/port-1.jpg").item-image
                                img(src="../assets/images/portfolio/port-1.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
                    .col-lg-3.col-md-6.element-item.branding
                        .content-item
                            a(href="../assets/images/portfolio/port-2.jpg").item-image
                                img(src="../assets/images/portfolio/port-2.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
                    .col-lg-3.col-md-6.element-item.designing
                        .content-item
                            a(href="../assets/images/portfolio/port-3.jpg").item-image
                                img(src="../assets/images/portfolio/port-3.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
                    .col-lg-3.col-md-6.element-item.branding
                        .content-item
                            a(href="../assets/images/portfolio/port-4.jpg").item-image
                                img(src="../assets/images/portfolio/port-4.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
                    .col-lg-3.col-md-6.element-item.designing
                        .content-item
                            a(href="../assets/images/portfolio/port-5.jpg").item-image
                                img(src="../assets/images/portfolio/port-5.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
                    .col-lg-3.col-md-6.element-item.branding
                        .content-item
                            a(href="../assets/images/portfolio/port-6.jpg").item-image
                                img(src="../assets/images/portfolio/port-6.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
                    .col-lg-3.col-md-6.element-item.designing
                        .content-item
                            a(href="../assets/images/portfolio/port-7.jpg").item-image
                                img(src="../assets/images/portfolio/port-7.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
                    .col-lg-3.col-md-6.element-item.photography
                        .content-item
                            a(href="../assets/images/portfolio/port-8.jpg").item-image
                                img(src="../assets/images/portfolio/port-8.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
                    .col-lg-3.col-md-6.element-item.photography
                        .content-item
                            a(href="../assets/images/portfolio/port-9.jpg").item-image
                                img(src="../assets/images/portfolio/port-9.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
                    .col-lg-3.col-md-6.element-item.developement
                        .content-item
                            a(href="../assets/images/portfolio/port-10.jpg").item-image
                                img(src="../assets/images/portfolio/port-10.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
                    .col-lg-3.col-md-6.element-item.developement
                        .content-item
                            a(href="../assets/images/portfolio/port-12.jpg").item-image
                                img(src="../assets/images/portfolio/port-12.jpg", alt="")
                            .item-content
                                h5.text-title Lorem ipsum dolor sit.
                                p.text-sub Lorem ipsum dolor sit amet consectetur adipisicing.
