section.pricing#pricing
    .section-inner
        .container
            .section-heading
                h4.heading-title Pricing Plans
                p.heading-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque laudantium iste vero quia. Perspiciatis. Lorem ipsum dolor sit amet.