section.pricing#pricing
    .section-inner.last-section
        .container
            .section-heading
                h4.heading-title Pricing Plans
                p.heading-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque laudantium iste vero quia. Perspiciatis. Lorem ipsum dolor sit amet.
            .section-content
                .pricing-container.row.align-items-center
                    .col-lg-4.col-md-6.col-12
                        .pricing-item
                            .item-header.text-center
                                h3 Membership
                                .price-content.d-flex.justify-content-center.text-title
                                    span $
                                    span 9
                                    span.align-self-end /mo
                            .item-body
                                ul.feature-list
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.

                                .pricing-image
                                    img(src="./../assets/images/pricing/pricing-1.svg", alt="")
                                .pricing-btn.text-center
                                    button.btn.btn-outline-primary Register Now
                    .col-lg-4.col-md-6.col-12
                        .pricing-item
                            .item-header.text-center.bg-light
                                h3.header-title Dedicated Desk
                                .price-content.d-flex.justify-content-center.text-accent
                                    span $
                                    span 19
                                    span.align-self-end /mo
                            .item-body
                                ul.feature-list
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                .pricing-image
                                    img(src="./../assets/images/pricing/pricing-2.svg", alt="")
                                .pricing-btn.text-center
                                    button.btn.btn-primary Buy Now

                    .col-lg-4.col-md-6.col-12
                        .pricing-item
                            .item-header.text-center
                                h3.header-title Private Office
                                .price-content.d-flex.justify-content-center.text-title
                                    span $
                                    span 39
                                    span.align-self-end /mo
                            .item-body
                                ul.feature-list
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                    li.feature-item
                                        i.fas.fa-circle
                                        span Lorem ipsum.
                                .pricing-image
                                    img(src="./../assets/images/pricing/pricing-3.svg", alt="")
                                .pricing-btn.text-center
                                    button.btn.btn-outline-primary Start Now