//  Author: Nguyen Chinh Hiep
//  Email: nguyenchinhhiep95@gmail.com
//  Facebook: facebook.com/hiepnguyen1003

html{
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background: #fff;
    overflow-x: hidden;
    color: $primary-text;
}
