//  Author: Nguyen Chinh Hiep
//  Email: nguyenchinhhiep95@gmail.com
//  Facebook: facebook.com/hiepnguyen1003

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

// Text rendering & box sizing
* {
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}

// Input
input {
  border: none;
  padding: 0 16px;
}

// List style
ul {
  list-style: none;
}
