extends ../layouts/layout.pug
block main-content
    .layout-container
        include ./../partials/header.pug
        include ./../partials/navigation.pug
        include ./../partials/content.pug
        include ./../partials/footer.pug
