extends ../layouts/layout.pug
block main-content
    .page-container
        include ./../partials/header.pug
        include ./../partials/main.pug
        include ./../partials/footer.pug
    include ./../components/video-overlay.pug
