//  Author: Nguyen Chinh Hiep
//  Email: nguyenchinhhiep95@gmail.com
//  Facebook: facebook.com/hiepnguyen1003

.btn {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 5px;
}

.btn-primary {
    background-color: #00c9a7 !important;
    border: 1px solid #00c9a7 !important;
    color: #ffffff !important;
    box-shadow: 0 3px 5px 0 rgba(0, 201, 167, 0.3);

    &:hover {
        background-color: #00967d !important;
        border-color: #00967d !important;
        color: #ffffff !important;
    }
}