//  Author: Nguyen Chinh Hiep
//  Email: nguyenchinhhiep95@gmail.com
//  Facebook: facebook.com/hiepnguyen1003

.page-container {
    
    nav {
        position: fixed;
        top: 38.4px;
        left: 0;
        width: 100%;

        .nav-main {
            position: relative;
            @include flex-box('space-between', 'center');

            .nav-toggle {
                position: absolute;
            }

            .nav-logo {
                font-size: 21px;
                color: #fff;

                span {
                    color: $active-color;
                }

            }

            .nav-menu {
                @include flex-box('flex-start', 'center');
            }

            .menu-main {
                @include flex-box('space-between', 'center');

                .menu-item {

                    .menu-link {
                        position: relative;
                        display: inline-block;
                        padding: 25px 15px;
                        color: #fff;
                        letter-spacing: .5px;
                        margin: 0 5px;
                        transition: all ease .3s;
                        
                        i {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-55%);
                            font-size: 10px;
                            transition: transform ease .3s;
                        }

                        
                    }
                    
                    &:not(.mega-menu) {
                        position: relative;
                    }

                    &:hover {

                        .menu-link {
                            color: $active-color;

                            > i {
                                transform: translateY(-55%) rotate(-90deg);
                            }
                        }
                    }
                }
            }

            .get-started {
                padding: 0 0 0 15px;
                margin-left: 5px;

                button {
                    font-weight: normal;
                    cursor: pointer;
                }
            }
        }
    }
}
