.page-container {

    .hero {
        position: relative;
        height: 100vh;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: .5);
        }
    }
}